<div class="container-fluid p-4">
    <h1 class="pb-4 text-center bg-primary text-light p-3 rounded"><%= title %></h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-primary">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Ruta</th>
                <th>Fecha de creación</th>
                <th>Etiqueta</th>
            </tr>
            </thead>
            <tbody>
            <% arrFotos.forEach((foto) => { %>
                <tr>
                    <td><strong><%= foto.id %></strong></td>
                    <td class="text-primary"><%= foto.titulo %></td>
                    <td><%= foto.descripcion %></td>
                    <td>
                        <a href="<%= foto.ruta %>" class="btn btn-outline-info btn-sm" target="_blank">Ver</a>
                    </td>
                    <td><%= foto.createdAt.toLocaleDateString('en-US') %></td>
                    <td>
                        <span class="badge bg-success"><%= foto.etiqueta.map(instancia => instancia.texto).join(", ") %></span>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>
